@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}


/* banner section style starts here */

.bannar-container{
    max-width: 1220px;
    margin: 0 auto;
height: 600px;
margin-top: 30px;
background-image: url('../images/Banner-Image.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-content p{
color: #ffffff;
}
.white{
    color: #ffffff;
}
.banner-content, h1{
    font-size: 72px;
font-weight: 900;

}
.banner-content p{
    font-size: 32px;
font-weight: 400;
}


/* banner section style end here*/


/* section style start here */
.section-banner{
    width: 802.9px;
height: 806px;
margin: 0 auto;
margin-top: 90px;
}
.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.image-content{
    width: 802.9px;
height: 500px;
}
.image-content img{
    width: 100%;
    height: 100%;
}
/* section style end here */

/* midnighr section style start here */
.midnight-content{
    background-image: url('../images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1220px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 600px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;

}
.lf-content{
    width: 50%;
    height: 600px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.lf-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.lf-content p {
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;}
.rg-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rg-content img {
    width: 349.16px;
    height: 464.65px;
}
/* midnighr section style end here */


/* holiday secttion style start here */
.holiday-content{
width: 1220px;
height: 600px;
border: 2px solid red;
margin: 0 auto;
position: relative;
}
.holiday-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
height: 260px;
margin: 0 auto;
}
.holiday-text-content h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-text-content h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
}
.holiday-text-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
.solid-color{
    width: 1220px;
    height: 129px;
    background-color: red;
    position: absolute;
    top: 78.6%;
}
.gift-box{
    position: relative;
    width: 74px;
    height: 27px;
    z-index: 1;
}
.gift-box img{
    width: 374px;
    height: 377px;
}
.discout{
    position: absolute;
    bottom: 14%;
    left: 55%;
}
/* holiday secttion style start here */